/*Quitar bordes generados en la pagina*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Estilo letra*/
.videoindex {
  margin-top: 60px;
  padding-left: 8%;
}

.videoindexsantorini {
  width: 90%;
  height: 87%;
}

header .barra1 {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
  padding: 0px;
}
header .barra1 .barra2 {
  background-color: #1c62eb;
}
header .barra1 .barra2 a {
  font-size: larger;
  color: aliceblue;
  margin-right: 20px;
  font-family: "Dancing Script", cursive;
}
header .barra1 .barra2 a .banderagrecia {
  background-repeat: no-repeat;
  background-position: center;
  height: 1.1cm;
  width: 2cm;
  margin-top: 0px;
  margin-left: 80px;
}

.barra3 {
  justify-content: flex-end;
}

/*Fotos comidas*/
.dolmas {
  margin-left: 0cm;
  width: 200px;
  height: 400px;
}

.dolmas1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.humus {
  margin-right: 0cm;
  margin-left: 0cm;
  width: 450px;
  height: 400px;
}

.humus1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.kofta {
  width: 400px;
  height: 400px;
}

.kofta1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Tarjetas comidas*/
.card {
  justify-content: center;
}

.tarjetas {
  margin-left: 75px;
  margin-top: 40px;
  width: 90%;
}
.tarjetas h1 {
  font-size: x-large;
}
.tarjetas h2 {
  font-size: large;
}

.titulo1 {
  text-align: center;
}

.titulo2 {
  text-align: center;
}

.titulo3 {
  text-align: center;
}

.preparacion {
  margin-top: 10px;
}

/*Imagenes*/
.comida {
  height: 300px;
  width: 100%;
}

/*grid historia*/
.gridhistoria video {
  height: 100%;
  width: 100%;
}

.gridhistoria img {
  height: 100%;
  width: 100%;
}

.gridhistoria {
  display: grid;
  grid-template-areas: "video1   video1" "mapa1    video2";
  grid-template-columns: 49% 49%;
  grid-template-rows: 400px 290px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 5px;
  row-gap: 7px;
}

.videohistoriasantorini {
  grid-area: video1;
}

.videosantorini {
  grid-area: video2;
}

.mapasantorini {
  grid-area: mapa1;
}

/*mobile index*/
@media screen and (max-width: 500px) {
  .imagenindex {
    max-width: 100%;
    max-height: 100%;
  }
  .opacidadindex {
    max-width: 100%;
    max-height: 100%;
  }
  .barraindex {
    max-width: 95%;
    margin-left: 10px;
  }
  .textoindex {
    max-width: 65%;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
}
/*mobile header*/
@media screen and (max-width: 500px) {
  .barra1 {
    max-width: 490px;
    margin-left: 0px;
  }
  header .barra1 .barra2 a .banderagrecia {
    margin-left: 10px;
    width: 1.5cm;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
}
/*footer*/
@media screen and (max-width: 500px) {
  .footerf {
    width: 99%;
    margin-left: 2px;
  }
}
/*mobile body historia*/
@media screen and (max-width: 500px) {
  .gridhistoria {
    display: grid;
    grid-template-areas: "video1" "mapa1" "video2";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 5px;
    row-gap: 7px;
  }
  .videohistoriasantorini {
    max-width: 95%;
  }
  .videosantorini {
    max-width: 95%;
  }
  .mapasantorini {
    max-width: 95%;
  }
}
/*mobile comidas*/
@media screen and (max-width: 500px) {
  .tarjetas {
    margin-left: 0px;
    width: 100%;
  }
  .comida {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .mapaplaya {
    width: 99%;
  }
  .mapamuseo {
    width: 99%;
  }
  .mapavino {
    width: 99%;
  }
}
/*mobile hoteles*/
@media screen and (max-width: 500px) {
  main .gridhoteles {
    grid-template-areas: "img1" "texto1" "img2" "texto2";
    grid-template-columns: 100%;
    grid-template-rows: 300px 320px 300px 310px;
  }
  main .asha {
    max-width: 95%;
    max-height: 300px;
  }
  main .hoteladronis {
    display: none;
  }
  main .kastelli {
    max-width: 95%;
    max-height: 300px;
  }
  main .hotelkastelli {
    display: none;
  }
  main .hotel2 {
    padding: 0px;
  }
  main ul {
    font-size: small;
  }
}
/*Zona turistica santorini*/
.vinosantorini {
  height: 450px;
  width: 100%;
}

.vinosanto {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mapavino {
  width: 100%;
}

.museo {
  height: 450px;
  width: 100%;
}

.museotera {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mapamuseo {
  width: 100%;
}

.playarojasantorini {
  height: 450px;
  width: 100%;
}

.playaroja {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mapaplaya {
  width: 100%;
}

/*grid hoteles*/
.gridhoteles img {
  height: 500px;
  width: 99%;
}

.gridhoteles video {
  height: 100%;
  width: 100%;
}

.gridhoteles {
  display: grid;
  grid-template-areas: "img1    img1" "texto1  video2" "img2     img2" "video1  texto2";
  grid-template-columns: 49% 49%;
  grid-template-rows: 500px 400px 500px 400px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 5px;
  row-gap: 7px;
}

.asha {
  grid-area: img1;
}

.hotel1 {
  grid-area: texto1;
  width: 100%;
  list-style-type: none;
}
.hotel1 h1 {
  font-size: x-large;
}
.hotel1 h2 {
  font-size: medium;
}

.kastelli {
  grid-area: img2;
}

.hotel2 {
  grid-area: texto2;
  width: 100%;
  list-style-type: none;
}
.hotel2 h1 {
  font-size: x-large;
}
.hotel2 h2 {
  font-size: medium;
}

.hoteladronis {
  grid-area: video2;
  margin-right: 12px;
  width: 100%;
}

.hotelkastelli {
  grid-area: video1;
  margin-left: 12px;
  width: 100%;
}

/*index*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .container {
    max-width: 100%;
    height: 100%;
  }
  .imagenindex {
    max-width: 100%;
    height: 100%;
  }
  .opacidadindex {
    max-width: 100%;
    height: 100%;
  }
  .barraindex {
    max-width: 978px;
  }
}
/*header*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .barra1 {
    max-width: 100%;
    margin-left: 0px;
  }
}
/*footer*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .footerf {
    margin-left: 6px;
  }
}
/*body historia*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .gridhistoria {
    display: grid;
    grid-template-areas: "video1 video1" "mapa1 video2";
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 5px;
    row-gap: 7px;
  }
  .videohistoriasantorini {
    max-width: 98%;
  }
  .videosantorini {
    max-width: 95%;
  }
  .mapasantorini {
    max-width: 95%;
  }
}
/*mobile comidas*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .tarjetas {
    margin-left: 5px;
    width: 99%;
    margin-bottom: 10px;
  }
  .comida {
    max-width: 90%;
    margin-left: 11px;
  }
}
/*zona turistica*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .mapaplaya {
    width: 100%;
  }
  .mapamuseo {
    width: 100%;
  }
  .mapavino {
    width: 100%;
  }
}
/*hoteles*/
@media screen and (min-width: 501px) and (max-width: 978px) {
  .gridhoteles {
    display: grid;
    grid-template-areas: "img1 img1" "texto1 video2" "img2  img2" "video1 texto2";
    grid-template-columns: 49% 49%;
    grid-template-rows: 500px 474px 500px 474px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 5px;
    row-gap: 7px;
  }
  .asha {
    max-width: 99%;
  }
  .hotel1 {
    max-width: 95%;
    margin-right: 200px;
  }
  .kastelli {
    max-width: 99%;
  }
  .hotel2 {
    max-width: 95%;
    margin-right: 20px;
  }
  .hoteladronis {
    max-width: 100%;
    margin-left: 247px;
    height: 100%;
  }
  .hotelkastelli {
    max-width: 100%;
    margin-left: 8px;
    height: 100%;
  }
}
/*footer*/
footer {
  background-color: #3f79f0;
  height: 25px;
  width: 98%;
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: 11px;
  margin-top: 10px;
}

.footer1 {
  padding-top: 1px;
}

.letrafooter1 {
  text-decoration: none;
  color: aliceblue;
  font-family: "Dancing Script", cursive;
}

/*# sourceMappingURL=Estilos.css.map */
