
/*Zona turistica santorini*/

.vinosantorini{height: 450px; width: 100%;}

.vinosanto{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.mapavino{width: 100%;}

.museo{height: 450px; width: 100%;}

.museotera{list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}

.mapamuseo{width: 100%;}

.playarojasantorini{height: 450px; width: 100%;}

.playaroja{list-style: none;
    display: flex;
   flex-direction: column;
   justify-content: center;
    text-align: center;}

.mapaplaya{width: 100%;}