/* ===== FOOTER ===== */
.main-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 3rem 0;
    margin-top: 4rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-logo {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--white-color);
    text-decoration: none;
}

.footer-logo span {
    color: var(--primary-color);
}

.social-links a {
    color: var(--footer-text-color);
    font-size: 1.5rem;
    transition: color .3s, transform .3s;
    display: inline-block;
}

.social-links a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}

.footer-bottom {
    border-top: 1px solid var(--footer-border-color);
    padding-top: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    font-size: .9rem;
}
